:root {
    --introAndEmailSignUpBg: hsl(217, 28%, 15%);
    --mainBg: hsl(218, 28%, 13%);
    --footerBg: hsl(216, 53%, 9%);
    --testimonialsBg: hsl(219, 30%, 18%);
    --blank: white;

    --gradient-1: linear-gradient(135deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    --Error: hsl(0, 100%, 63%);
    --cyan: hsl(177, 67%, 63%);

    --font-raleway: "Raleway", sans-serif;
}


html {
    font-size: 14px;
}

body {
    font-family: "Open Sans", sans-serif;
    color: var(--blank);
}

* {
    box-sizing: border-box;
    margin: 0;
}

p {
    line-height: 1.5;
}

h1 {
    font-size: 1.71rem;
    line-height: 1.5;
}

h2,
h3,
h4 {
    font-size: 1.28rem;
    line-height: 1.33;
}




.btn {
    font-size: inherit;
    font-family: var(--font-raleway);
    border-radius: 24px;
    border: none;
    transition: filter 300ms;
    cursor: pointer;
}

.btn:hover {
    filter: brightness(120%);
}

.btn-1,
.btn-2 {
    color: var(--blank);
    background: var(--gradient-1);
}


.btn-1 {
    padding: 1.14em 5.71em;
}

.btn-2 {
    padding: 1.14em 1.85em;
}

.textfield_wrapper {
    position: relative;
}

.textfield_wrapper.invalid {
    padding-bottom: 1em;
}

.textfield {
    border-radius: 32px;
    border: none;
    padding: 1.25em 2.33em;
    font-size: .85rem;
    width: 100%;
}

.textfield_error {
    position: absolute;
    opacity: 0%;
    bottom: 0px;
    padding-left:2.8em;
    transform: translateY(50%);
    pointer-events: none;
    font-size: .71rem;
    font-weight: bold;
    color: var(--Error);
    transition: opacity 300ms;
}



.textfield_wrapper.invalid .textfield_error {
    opacity: 100%;
}

body {
    position: relative;
    overflow-x: hidden;
    background-color: var(--mainBg);
}

.body_bg{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 500px;
    background-color: hsl(217, 31%, 18%);
    position: absolute;
    z-index: -1;
}

.body_img-bg--desktop 
{
    display: none;
}

.body_img-bg--mobile {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 141px;
}
.header {
    padding: 1.71em 5.4%;
    margin-bottom: 8.5em;
}

.header_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.42em;
}

.header_logo {
    width: 21.3%;
    max-width: 176px;
}

.nav_list {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-self: end;
    gap: 1.71em;
}

.nav_link {
    text-decoration: none;
    color: var(--blank);
    font-size: .85rem;
    position: relative;
}

.nav_link::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--blank);
    position: absolute;
    bottom: 0px;
    left: 0px;
    transform: scaleX(0%);
    transform-origin: 50% 50%;
    transition: transform 300ms;
}

.nav_link:hover::after {
    transform: scaleX(100%);
}

.hero {
    text-align: center;
}

.hero_img {
    display: block;
    width: 91%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.35em;
}


.hero_title {
    margin-bottom: .625em;
}

.hero_body {
    margin-bottom: 2.28em;
}

.main {
    padding: 0 5.4% 24em;
    position: relative;
}

.features {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5.7em;
    margin-bottom: 11.42em;
    align-items: center;
}

.feature {
    flex: 1 1 349px;
    max-width: 349px;
}

.feature_icon {
    margin-bottom: 1.7em;
}

.feature_title {
    margin-bottom: .44em;
}


.section-2 {
    padding: 0 2%;
    margin-bottom: 11.4em;
}

.section-2_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 3.42em;
    max-width: 614px;
}

.section-2_title {
    margin-bottom: .88em;
}

.section-2_body {
    margin-bottom: 1.14em;
}

.section-2_see-more {
    text-decoration: none;
    color: var(--cyan);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    width: fit-content;
    font-size: .85rem;
    padding-bottom: .5em;
    gap: .53em;
    transition: color 300ms;
}
.section-2_see-more:hover
{
    color: var(--blank);
}
.section-2_see-more use 
{
    transition: fill 300ms;
}
.section-2_see-more:hover use
{   
    fill:var(--blank);
}


.section-2_see-more::after {
    content: '';
    height: 1px;
    width: 100%;
    left: 0px;
    bottom: 0px;
    background-color: var(--cyan);
    position: absolute;
    transition: background-color 300ms;
}
.section-2_see-more:hover::after
 {
    background-color: var(--blank);
 }


.testimonials {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.71em;
    align-items: center;
}

.testimonials::before {
    content: '';
    left: calc(50% - 170px);
    top: 0px;
    position: absolute;
    transform: translateY(-50%);
    background-image: url(./images/bg-quotes.png);
    width: 32px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}

.testimonial {
    background-color: var(--testimonialsBg);
    padding: 1.71em 7% 1.5em;
    border-radius: 12px;
    max-width: 360px;
}

.testimonial_body {
    font-size: .71rem;
    line-height: 1.8;
    margin-bottom: 1.7em;
}

.testimonial_user {
    display: grid;
    grid-template-columns: 10% auto;
    grid-template-rows: auto auto;
    grid-column-gap: .57em;
}

.testimonial_img {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    width: 100%;
    border-radius: 50%;
}

.testimonial_name {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-weight: bold;
    font-size: .71rem;
}

.testimonial_job {
    grid-column: 2 / 3;
    grid-row: 2 / -1;
    font-size: .5rem;
}


.cta {
    width: 89%;
    max-width: 863px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: var(--introAndEmailSignUpBg);
    padding: 2.85em 8.3%;
    border-radius: 12px;
}

.cta_title {
    margin-bottom: .88em;
}

.cta_body {
    margin-bottom: 2.28em;
}

.cta_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.7em;
}

.cta_form>* {
    width: 100%;
}



.footer {
    padding: 18.5em 7.4% 3.71em;
    background-color: var(--footerBg);
}

.footer_logo {
    width: 33.3%;
    max-width: 108px;
    margin-bottom: 2.5em;
}

.footer_detail {
    display: grid;
    grid-template-columns: 1.71em auto;
    grid-template-rows: auto;
    grid-column-gap: 1em;
}

.footer_detail_body {
    font-size: 1.14rem;
}

.footer_detail:not(:last-of-type) {
    margin-bottom: 1.14em;
}

.footer_detail:last-of-type {
    margin-bottom: 4em;
}


.footer_links {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 1.14em;
    margin-bottom: 3.42em;
}

.footer_links:last-of-type {
    margin-bottom: 4em;
}

.footer_link {
    text-decoration: none;
    color: inherit;
    font-size: 1.14rem;
    transition: font-weight 300ms;
}

.footer_link:hover
{
    font-weight: bold;
}

.footer_social {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: .71em;
}

.social_item {
    width: 28px;
    height: 28px;
    border: solid 1px var(--blank);
    border-radius: 50%;
    ;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 300ms, border-color 300ms;
    cursor: pointer;
}

.social_item:hover {
    color: var(--cyan);
    border-color: var(--cyan);
}


@media (min-width:1440px)
{
    html 
    {
        font-size: 16px;
    }

    h1 
    {
        font-size: 2.5rem;
        line-height: 1.5;
    }

    h2 {
        font-size: 2.5rem;
        line-height: 1.25;
    }

    h3 
    {
        font-size: 2rem;
        line-height: 1.5;
    }

    h4
    {
        font-size: 1.25rem;
        line-height: auto;
    }

    .nav_link {
        font-size: 1rem;
    }

    .body_img-bg--mobile {
        display: none;
    }

    .body_bg {
        height: 1100px;
    }

    .body_img-bg--desktop {
        display: block;
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 449px;
    }


    .main {
        padding: 0 7.4% 22.5em;
    }

   
    .hero {
        max-width: 734px;
        margin-left: auto;
        margin-right: auto;
    }

    .hero_img
    {
        width: 98%;
    }

    .hero_body {
        font-size: 1.25rem;
    }

    .features {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .feature_title {
        font-size: 1.25rem;
    }

    .feature_body {
        font-size: .875rem;
        line-height: 1.5;
    }


    .section-2 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5%;
    }

    .section-2_img {
        margin-left: 0;
        margin-right: 0;
    }
    .section-2_content {
        max-width: 563px;
    }

    .section-2_body{
        font-size: 1rem;
        line-height: 1.5;
    }

    .testimonials::before
    {
        width: 79px;
        height: 100px;
        position: absolute;
        z-index: -1;
        left: 0px;
    }
   
    .testimonials {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2.5em;
    }

    .testimonial {
        padding: 2.5em 1.56em 1.56em;
    }

    .testimonial_body {
        font-size: .875rem;
        line-height: 1.5;
    }

    .testimonial_name {
        font-size: .625rem;
    }

    .testimonial_job {
        font-size: .4375rem;
    }


    .cta {
        padding: 2.62em 8.9%;
    }
    .cta_form {
        flex-direction: row;
        width: 100%;
        gap: 4%;
    }

    .cta_form_textfield-wrapper 
    {
        width: 67.7%;
    }

    .cta_form_textfield
    {
        font-size: .75rem;
        padding: 1.33em 2.375em;
        height: 100%;
        width: 100%;
    }

    .cta_form_btn {
        font-size: .875rem;
        padding: 1.07em 1.92em;
        width: 40%;
    }


    .footer_content {
        display: grid;
        grid-template-columns: minmax(auto, 379px) auto auto auto auto;
        grid-template-rows: minmax(auto, 24px) auto;
        grid-column-gap: 5em;
    }

    .footer_location {
        grid-column: 1 / 2;
        grid-row: 1 / -1;
        margin-bottom: 0;
        font-size: 1rem;
    }

    .footer_phone {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        margin-bottom: 0;
        font-size: .875rem;
    }

    .footer_email {
        grid-column: 2 / 3;
        grid-row: 2 / -1;
        margin-bottom: 0;
        font-size: .875rem;
    }

    .footer_links 
    {
        font-size: 1rem;
    }

    .footer_links:nth-child(1)
    {
        grid-column: 3 / 4;
        grid-row: 1 / -1;
        margin-bottom: 0;
    }

    .footer_links:nth-child(2)
    {
        grid-column: 4 / 5;
        grid-row: 1 / -1;
        margin-bottom: 0;
    }

    .footer_social {
        grid-column: 5 / -1;
        grid-row: 1 / -1;
        margin-bottom: 0;
    }
}